include ../../components/offices-list/=offices-list
include ../../components/offices-list/__item/=offices-list__item

.company-view
  +offices-list
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Первый офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Второй офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Третий офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Четвёртый офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Пятый офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Шестой офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Седьмой офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Восьмой офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Девятый офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Десятый офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Одиннадцатый офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Двенадцатый офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Тринадцатый офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Четырнадцатый офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Пятнадцатый офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Шестнадцатый офис
    +offices-list__item({ attrs: { 'data-ng-click': 'c.selectOffice()' } }) Семнадцатый офис
