include ../../components/menu/=menu
include ../../components/page/=page
include ../../components/page/__content/=page__content
include ../../components/page/__header/=page__header
include ../../components/page/__map/=page__map

+page
  +page__header
    +menu({
      data: {
        items: [
          {
            title: 'Первая компания',
            sref: 'company({ id: 1 })'
          },
          {
            title: 'Вторая компания',
            sref: 'company({ id: 2 })'
          },
          {
            title: 'Третья компания',
            sref: 'company({ id: 3 })'
          },
        ]
      }
    })

  +page__map
    map

  +page__content({ attrs: { 'data-ui-view': 'main' }})
