/* stylelint-disable selector-max-type */

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-size-adjust: 100%;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}

/* stylelint-enable */
