.button {
  display: inline-block;
  outline: none;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  vertical-align: middle;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 2px;
  background: #1451fa;
  color: #fff;
  cursor: pointer;
  user-select: none;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:hover,
  &:focus {
    background: #4173fb;
  }

  &:active {
    transform: translateY(1px);
    background: #043bd2;
  }
}
