.page__content {
  position: absolute;
  top: 120px;
  right: 40px;
  overflow: auto;
  width: 300px;
  max-height: calc(100% - 120px - 60px);
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, .07);
  background: #fff;
}
