mixin page__header(props)
  - props = typeof props != 'undefined' ? props : {}

  - var attrs = props.attrs || {}
  - var tag = props.tag || 'div'

  #{tag}(
    class="page__header",
  )&attributes(attrs)
    block
