doctype html
html(lang="ru")
  head
    meta(charset="utf-8")/
    meta(name="viewport", content="width=device-width, initial-scale=1.0")/
    meta(name="format-detection", content="telephone=no")/
    meta(name="referrer", content="no-referrer")/
    title Рефакторинг
    style.
      html, body {
        height: 100%;
      }

  body(ng-app="app")
    main-layout
