/* stylelint-disable selector-max-type */

p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
}

svg use {
  pointer-events: none;
}

/* stylelint-enable */
